@font-face {
    font-family: fav;
    src: url('./assets/fav2.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #15202b; */
    background-color: #23374D;
    color: rgb(253, 253, 253);
    font-family: 'fav', sans-serif;
}

img {
    width: 100%;
}

nav {
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 24px;
    transition: all .2s ease-in-out;
}

nav a:hover{
    background-color: #172433;
    border-radius: 50px;
}

/* nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding-left: 20px;
} */



.main-area,
.footer {
    padding: 1% 5%;
}

img {
    width: 100%;
    transition: transform .2s ease-in-out;
}

img:hover {
    transform: scale(1.01);
}

.headline {
    max-width: 900px;
    padding-bottom: 6% !important;
}

.headline p {
    color: #fff;
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
    margin-bottom: 0%;
}

.headline p.para {
    font-size: 20px;
    margin-bottom: 0%;
}

.headline p.work-type {
    font-size: 20px;
    text-transform: uppercase;
}





.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(226, 52, 125);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.content p a{
    color: rgb(0, 110, 255);
}

p.ques{
    font-size: 25px;
    font-weight: 600;
}



.footer {
    margin-bottom: 10%;
}

.footer p {
    font-size: 40px;
    font-weight: 500;
}

.line{
    width: 100%;
    background-color: aliceblue;
    height: 1px;

}

.contact{
    float: right;
}

.contact a {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.contact a i:hover {
    padding-left: 5px;
}


.content{
    font-size: 22px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.screens{
    margin-top: 100px;

}

.row-text{
    max-width: 400px;
    margin: 0px;
}

.row-text-head{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.row .image{
    max-width: 700px;
}

.row-para{
    max-width: 700px;
}

.row-para span{
    background-color: rgb(0, 110, 255);
}

iframe{
    max-width: 700px;
    margin-top: 25px;

}

p.img-desc{
    text-align: center;
}

.screen-detail{
    display: flex;
    margin-bottom: 50px;
}


@media only screen and (max-width: 600px) {


    /* nav {
        padding: 10% 5% 1% 5%;
    }

    .headline {
        padding-bottom: 15% !important;
    } */

    .headline p {
        font-size: 50px;
        line-height: 50px;
    }

        .headline p.work-type {
            font-size: 20px;
            text-transform: uppercase;
        }

    .footer p {
        font-size: 20px;
        font-weight: 500;
    }

    .footer {
        margin-bottom: 20%;
    }


        .row {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        
        .screens{
            margin-top: 70px;

        }
    
        .row-text {
            max-width: unset;
        }
    
        .row-text-head {
            font-size: 25px;
            font-weight: 700;
        }
    
        .row .image {
            padding: unset;
        }
    
        .row-para {
            max-width: unset;
        }


}